body{
    background-color: rgb(117, 117, 117);
    padding-top: 50px;
}




table{
    width: 350px;
    margin: auto;
    background-color:rgb(232, 223, 56);
    height: 500px;

}
tr td{
    padding: 10px;
}
table button{
    width: 50px;
    height: 60px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    background-color:rgb(39, 27, 215);
    font-size: xx-large;
}
table input{
    width: 90%;
    border-radius:12px ;
    padding: 10px;
    text-align: right;
    height: 40px;

}